<!DOCTYPE html>
<html>
	<head>
  	<title>Community</title>
  	<%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  	<%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  	<%= csrf_meta_tags %>
	</head>

<body>
<div class="container" id="backmain">
<h1 id="index-header">Strategic Shooters</h1>
<%= link_to(image_tag("https://i.gyazo.com/0e866e239a850176778e44c350d501c3.png", id: "logo"), root_path) %>
<img src="https://i.gyazo.com/8ae51f07703d2db94b4634aa7e143abd.png" id="banner">
		<%= yield %>
	</div>
</body>
</html>
